.head {
  color: white;
  background-color: maroon;
  text-align: center;

}
.slideshow {
  text-align: center;
}

.header2 {
  text-align: center;
  color: maroon;
  text-decoration: underline;


}

.text {
  width: 95%;
  height: 40%;
  text-align: center;
  background-color: white;
  margin: 20px;
  border: 2px black;
  padding: 4px;
  margin: 5px;
  border: 2px solid maroon;
  padding: 10px;

}

.profile img {
  float: left;
}

table, th, td {
    border: 1px solid black;
}

.hobbies img {
  float: right;
}

.text ul li {
  list-style: none;
}

.name {
  color: maroon;
  text-transform: capitalize;

}

.hobbies ul li {
  list-style: none;
}

.profile {
  width: 95%;
  height: 40%;
  text-align: center;
  background-color: #fafafa;
  margin: 20px;
  border: 2px black;
  padding: 4px;
  margin: 5px;
  border: 2px solid maroon;
  padding: 10px;

}

.hobbies {
  width: 95%;
  height: 40%;
  text-align: center;
  background-color: lightblue;
  margin: 20px;
  border: 2px black;
  padding: 4px;
  margin: 5px;
  border: 2px solid maroon;
  padding: 10px;

}
